HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
out
target

### NetBeans ###
/out.bin
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
nbactions.xml

### VS Code ###
.vscode/