<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Магазин мясных изделий SausageShop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/fontawesome.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/ionicons.min.css" type="text/css"/>
    <link rel="stylesheet" href="/css/simple-line-icons.css" type="text/css"/>
    <link rel="stylesheet" href="/css/plugins/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="/css/plugins/plugins.css" type="text/css"/>
    <link rel="stylesheet" href="/css/style.min.css" type="text/css"/>
</head>
<body>
<header>
    <!-- header top start -->
    <div class="header-top theme1 bg-dark py-15">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-7 order-last order-md-first">
                </div>
                <div class="col-lg-6 col-md-5">
                    <nav class="navbar-top pb-2 pb-md-0 position-relative">
                        <ul class="d-flex justify-content-center justify-content-md-end align-items-center">
                            <li>
                                <a href="#" id="dropdown1" data-toggle="dropdown" aria-haspopup="true"
                                   aria-expanded="false">Настройки </a>
                                <ul class="topnav-submenu dropdown-menu" aria-labelledby="dropdown1">
                                    <li><a href="../templates/myaccount.html">Мой профиль</a></li>
                                    <li><a href="/templates/login.html">Выйти</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- header top end -->
    <!-- header-middle satrt -->
    <div class="header-middle pt-20">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-6 col-lg-2 order-first">
                    <div class="logo text-center text-sm-left mb-30 mb-sm-0">
                        <a href="main.html"><img src="/pct/logo.png" alt="logo"></a>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-5 col-xl-4">
                    <!-- search-form end -->
                </div>
                <div class="col-lg-5 col-xl-6 order-lg-first">
                    <div class="search-form pt-30 pt-lg-0">
                        <form class="form-inline position-relative">
                            <input class="form-control theme1-border" type="search"
                                   placeholder="Введите ключевые слова">
                            <button class="btn search-btn theme-bg btn-rounded" type="submit"><i
                                    class="icon-magnifier"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header-middle end -->

    <!-- header bottom start -->
    <nav id="sticky" class="header-bottom theme1 d-none d-lg-block">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-10 offset-lg-2 d-flex flex-wrap align-items-center position-relative">
                    <ul class="main-menu d-flex">
                        <li class="active ml-0">
                            <a href="main.html" class="pl-0">Главная</a>
                        </li>
                        <li class="position-static">
                            <ul>
                                <li class="mega-menu-title"><a href="/templates/shop-grid-list.html">Магазин</a></li>
                            </ul>
                        </li>
                        <li class="position-static">
                            <ul>
                                <li class="mega-menu-title"><a href="/templates/cart.html">Корзина</a></li>
                            </ul>
                        </li>
                        <li><a href="/templates/contact.html">Где мы</a></li>
                        <li><a href="/templates/categoryList.html">Категории</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </nav>
    <!-- header bottom end -->
</header>

<nav class="breadcrumb-section theme1 bg-lighten2 pt-110 pb-110">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title text-center mb-15">
                    <h2 class="title text-dark text-capitalize">Sausage</h2>
                </div>
            </div>
            <div class="col-12">
                <ol class="breadcrumb bg-transparent m-0 p-0 align-items-center justify-content-center">
                    <li class="breadcrumb-item"><a href="/templates/main.html">Домой</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Sausage</li>
                </ol>
            </div>
        </div>
    </div>
</nav>
<!-- breadcrumb-section end -->
<!-- product tab start -->
<div class="product-tab bg-white pt-80 pb-80">
    <div class="container">
        <div class="grid-nav-wraper bg-lighten2 mb-30">
            <div class="row align-items-center">
                <div class="col-12 col-md-6 mb-3 mb-md-0">
                    <nav class="shop-grid-nav">
                        <ul class="nav nav-pills align-items-center" id="pills-tab" role="tablist">
                        </ul>
                    </nav>
                </div>
                <div class="col-12 col-md-6 position-relative">
                    <div class="shop-grid-button d-flex align-items-center">
                        <span class="sort-by">Сортировать по:</span>
                        <button class="btn-dropdown rounded d-flex justify-content-between" type="button"
                                id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Актуальность <span class="ion-android-arrow-dropdown"></span>
                        </button>
                        <div class="dropdown-menu shop-grid-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Актуальность</a>
                            <a class="dropdown-item" href="#"> По имени А-Я</a>
                            <a class="dropdown-item" href="#"> По имени Я-А</a>
                            <a class="dropdown-item" href="#"> По возрастанию цены</a>
                            <a class="dropdown-item" href="#"> По убыванию цены</a>
                        </div>
                    </div>
                </div>
            </div>.
        </div>
        <!-- product-tab-nav end -->
        <div class="tab-content" id="pills-tabContent">
            <!-- second tab-pane -->
            <div class="tab-pane fade show active" id="pills-profile" role="tabpanel"
                 aria-labelledby="pills-profile-tab">
                <div class="row grid-view-list theme1">
                    <div class="col-12 mb-30">
                        <div class="card product-card">
                            <div class="card-body" th:each="category :${categoryList}">
                                <div class="media flex-column flex-md-row">
                                    <div class="media-body pl-30">
                                        <div class="product-desc py-0">
                                            <h3 class="title"><a th:text="${category.title}">Название категории</a></h3>
                                        </div>
                                        <ul class="product-list-des">
                                            <li>
                                               Количество продуктов в данной категории
                                            </li>
                                            <li th:text="${category.getSize()}">

                                            </li>
                                        </ul>
                                        <button class="btn theme-btn--dark1 btn--xl rounded-5" data-toggle="modal"
                                                data-target="#add-to-cart">
                                            Посмотреть товары
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- product-list End -->
                    </div>
                </div>
            </div>
        </div>
</div>
</body>
</html>