<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>


    <link rel="stylesheet" href="/css/fontawesome.min.css" type="text/css"/>
    <link rel="stylesheet" href="/css/ionicons.min.css" type="text/css"/>
    <link rel="stylesheet" href="/css/simple-line-icons.css" type="text/css"/>
    <link rel="stylesheet" href="/css/plugins/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="/css/plugins/plugins.css" type="text/css"/>
    <link rel="stylesheet" href="/css/style.min.css" type="text/css"/>
    <link rel="shortcut icon" type="image/x-icon" href="/pct/icon.ico"/>
    <title th:object="${product}" th:text="*{name}"></title>


</head>

<body>
<!-- header start -->
<header>
    <!-- header top start -->
    <div class="header-top theme1 bg-dark py-15">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-7 order-last order-md-first">
                </div>
                <div class="col-lg-6 col-md-5">
                    <nav class="navbar-top pb-2 pb-md-0 position-relative">
                        <ul class="d-flex justify-content-center justify-content-md-end align-items-center">
                            <li>
                                <a href="#" id="dropdown1" data-toggle="dropdown" aria-haspopup="true"
                                   aria-expanded="false">Настройки </a>
                                <ul class="topnav-submenu dropdown-menu" aria-labelledby="dropdown1">
                                    <li><a th:href="@{/myaccount}">Мой аккаунт</a></li>
                                    <li><a th:href="@{/logout}">Выйти</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- header top end -->
    <!-- header-middle start -->
    <div class="header-middle pt-20">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-6 col-lg-2 order-first">
                    <div class="logo text-center text-sm-left mb-30 mb-sm-0">
                        <a href="/"><img src="/pct/logo.png" alt="logo"></a>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-5 col-xl-4">
                    <!-- search-form end -->
                </div>
                <div class="col-lg-5 col-xl-6 order-lg-first">
                    <div class="search-form pt-30 pt-lg-0">
                        <form class="form-inline position-relative">
                            <input class="form-control theme1-border" type="search"
                                   placeholder="Введите ключевые слова">
                            <button class="btn search-btn theme-bg btn-rounded" type="submit"><i
                                    class="icon-magnifier"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header-middle end -->

    <!-- header bottom start -->
    <nav id="sticky" class="header-bottom theme1 d-none d-lg-block">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-10 offset-lg-2 d-flex flex-wrap align-items-center position-relative">
                    <ul class="main-menu d-flex">
                        <li class="active ml-0">
                            <a href="/" class="pl-0">Главная</a>
                        </li>
                        <li class="position-static">
                            <ul>
                                <li class="mega-menu-title"><a th:href="@{/shop}">Магазин</a></li>
                            </ul>
                        </li>
                        <li class="position-static">
                            <ul>
                                <li class="mega-menu-title"><a th:href="@{/cart}">Корзина</a></li>
                            </ul>
                        </li>
                        <li><a th:href="@{/contact}">Где мы</a></li>
                        <li><a th:href="@{/categoryList}">Категории</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </nav>
    <!-- header bottom end -->
</header>
<!-- header end -->
<!-- product-single start -->
<section class="product-single theme1 pt-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="product-sync-init mb-20">
                    <div class="single-product">
                        <div class="product-thumb">
                            <img src="/pct/sos.png" alt="product-thumb">
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 mt-5 mt-md-0">
                <div class="single-product-info">
                    <form th:action="@{/product/addToCart}" th:object="${productToCart}" method="post">
                        <div class="single-product-head">
                            <h2 th:text="${product.name}" class="title mb-20"> </h2>
                            <div class="star-content mb-20">
                                <span class="star-on"><i class="ion-ios-star"></i> </span>
                                <p class="h6" th:object="${product}" th:text="*{rating}"></p>
                            </div>
                        </div>
                        <div class="product-body mb-40">
                            <div class="d-flex align-items-center mb-30">
                                <h6 class="product-price mr-20">
                                    <span th:object="${product}" th:text="*{price}" class="onsale"></span></h6>
                            </div>
                            <p th:object="${product}" th:text="*{description}"></p>
                        </div>

                        <div class="product-footer">
                            <div class="product-count style d-flex flex-column flex-sm-row mt-30 mb-30">
                                <div class="count d-flex">
                                    <label>
                                        <!--                  ///////////////////////////Тут добавлять потом в корзину/////////////////////////////////-->
                                        <input type="number" min="1" max="10" step="1" value="1" th:field="${productToCart.count}">
                                    </label>
                                </div>
                                <div>
                                    <button class="btn theme-btn--dark1 btn--xl mt-5 mt-sm-0 rounded-5">
                                        <span class="mr-2"><i class="ion-android-add"></i></span>
                                        В корзину
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- product-single end -->
<!-- product tab start -->
<div class="product-tab theme1 bg-white pt-60 pb-80">
    <div class="container">
        <div class="product-tab-nav">
            <div class="row align-items-center">
                <div class="col-12">
                    <nav class="product-tab-menu single-product">
                        <ul class="nav nav-pills justify-content-center" id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active " id="pills-home-tab" data-toggle="pill"
                                   role="tab" aria-controls="pills-home" aria-selected="true">Детали продукта</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- product-tab-nav end -->
        <div class="row">
            <div class="col-12">
                <div class="tab-content" id="pills-tabContent">
                    <!-- first tab-pane -->
                    <!-- second tab-pane -->
                    <div class="tab-pane fade show active" id="pills-profile" role="tabpanel"
                         aria-labelledby="pills-profile-tab">
                        <div class="single-product-desc">
                            <div class="studio-thumb">
                                <h3>Спецификация</h3>
                            </div>
                            <div class="product-features">
                                <ul>
                                    <li><h4>Состав</h4></li>
                                    <li><span th:object="${product}" th:text="*{composition}"></span></li>
                                    <li><h4>Категория</h4></li>
                                    <li><span th:object="${product}" th:text="*{categoryId.title}"></span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ******************************************************-->

<script src="/js/vendor/jquery-3.5.1.min.js"></script>
<script src="/js/vendor/modernizr-3.7.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/plugins/jquery-ui.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/plugins/plugins.js"></script>
<script src="/js/main.js"></script>


</body>

</html>